.box {
    box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
    border: 2px solid black;
    width: 75%;
    border-radius: 12px;
    margin-left: 12.5%;
    text-align: center;
}
.game{
    width: 150px;
    margin: 20px;
}
.li_game{
    display: inline-table;
    list-style-type: none;
    width: 150px;
}