body{
    margin:0 auto;
}
h1{
    font-family: 'titillium';
    color:#204e4b;
    text-transform: uppercase;
}
h2{
    font-size: 18px;
    font-family: 'titillium';
    color:#204e4b;
    text-transform: uppercase;
}
.box {
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
}

.img_game{
    height: 66%;
    width: 100%;
    margin:0 auto;
    object-fit: cover;
}

.li_game{
    padding:0;
    display: inline-block; 
    list-style-type: none;
    width: 160px;
    background:#204e4b;
    height:250px;
    border-radius: 10px;
    overflow:hidden;
    margin:20px;
}

.li_game h2{
    font-size: 14px;
    text-align: center;
    margin-left: 5px;
    color:white;
    font-family:'roboto';

}
.li_game p{
    font-size: 14px;
    text-align: left;
    color:white;
    font-family: Arial;
    margin-left: 5px;
    text-align: center;
}

#main-menu{
    width: 100%;
    background: #6395a3;
    font-family: "titillium";
    list-style-type: none;
    color:white;
    font-size: 20px;
    text-align: center;
}
#main-menu ul li{
    display: inline-block;
    list-style-type: none;
    padding: 30px 50px;
}
#main-menu img{
    height:50px;
    position: absolute;
    left: 8%;
    top:20px;
}
#main-menu ul{
    margin:0 !important;
}
#main-menu a, a:active{
    color: white;
}
.game-description{
    padding: 20px;
    font-family: 'roboto';
    text-align: justify;
}
.game-pic{
    padding:20px;
    width:250px;
}
@font-face {
font-family: 'roboto';
src: url('../fonts/Roboto-Regular.ttf');
font-weight: 900;
}
@font-face {
font-family: 'titillium';
src: url('../fonts/Titillium.ttf');
font-weight: 900;
}
